.slider
  margin-top: 0.3rem
  margin-left: -0.3rem

.slide
  width: 100%
  padding-top: 0.4rem
  // background-color: rgba(#cdd1aa, 0.56)

.slide__aussage
  // background-color: rgba(#d1b8aa, 0.56)

.teamslide
  padding-top: 0.95rem
  p
    margin-bottom: 0.6rem
    padding-left: 0.15rem
    font-weight: bold
    text-transform: uppercase
    font-size: 2.2rem
    line-height: 1em
    padding-bottom: 0.5rem
    letter-spacing: -0.01em
    color: $text
    +bp(mega)
      margin-top: 0.65rem
      font-size: 2rem
    +bp(maxi)
      font-size: 1.6rem
    +bp(midi)
      font-size: 5.4vw

.teamfotos
  padding-left: 0.3rem
  padding-right: 5%
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 0.5rem

  .foto
    &:nth-child(8)
      grid-column: 1/2
